:root{
    --headline1:6rem;
    --headline2:3.75rem;
    --headline3:3rem;
    --headline4:2.125rem;
    --headline5:1.5rem;
    --headline6:1.25rem;
    --subtitle1:1rem;
    --subtitle1:0.875rem;
    --caption:0.750rem;
    --body:0.625rem;
    --blueGradient:linear-gradient(-90deg, rgba(224, 195, 252, 0.63) -1.91%, rgba(142, 197, 252, 0.67) 100%);
    --bodyColor:#F7F7F7;
    --black:#282828;
    --white:#ffffff;
    --lightBlue:rgba(142, 197, 252, 0.22);
    --violet: rgba(98, 78, 154, 1);
    
}

body,html{
    background-color: var(--bodyColor);
}


nav,section,header{
    max-width: 1980px;
    width: 100%;
    margin: 0 auto;
    color: var(--black);
    
}

.container{
    width: 90%;
    margin-inline: auto;
}

.section-title{
    font-size: var(--headline5);
    text-align: center;
    padding-bottom: 0.5em;
}
.section-subtitle{
    font-size: var(--subtitle2);
    width: 70%;
    margin-inline: auto;
    text-align: center;
    line-height: 100%;
    padding-bottom: 1em;
}

.course-list{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    gap: 1em;
}
.course-list a{
    color: var(--black);
    background-image:linear-gradient(var(--violet),var(--violet));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.course-list a:hover{
    background-size: 100% 3px;
    color: var(--violet);
}
.course-list a.active{
    color: var(--violet);
    background-image:linear-gradient(var(--violet),var(--violet));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    
}

/* ========================navbar section ==================== */
nav{
    position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
background-color: transparent;
height: 80px;
padding-top: 1em;

    
}
nav .container{
    display: flex;
    justify-content: space-between;
    min-height: 0px;
  
    align-items: center;
    padding: 0 1em;
}

.logo{
    font-size: var(--headline6);
    width: 20%;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
    
}
.nav-list{
    width: 70%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.list-item{
    color: var(--white);
    transition: background-size 300ms ease;
    background-image:linear-gradient(var(--violet),var(--violet));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.list-item:hover{
    color: var(--violet);
    background-size: 100% 3px;
}
/* ========================navbar section ==================== */
/* ========================header section ==================== */
header{
    background-image: var(--blueGradient);
   
   min-height: 60vh;
  margin-bottom: 2em;

}



header .container{
    display: flex;
    justify-content: center;
    align-items: center;
 height: 100%;
   
    flex-wrap: wrap;

    padding-top: 5em;

}

.header-info{
    width: 60%;

    height: 100%;
}

.header-title{
    font-size: var(--headline4);
    color: var(--white);
    line-height: 120%;
    padding-block: 0.5em;
    font-weight: 900;
}

.header-subtitle{
    font-size: var(--caption);
    color:var(--white) ;
    width: 85%;
    padding-bottom: 1em;
}

.header-img{
    width: 40%;
}

.header-btn{
    border: 2px solid var(--violet);
    padding: 0.6em 0.8em;
    background-color: var(--violet);
    color: var(--white);
    font-size: var(--subtitle2);
    border-radius: 5px;
    line-height: 100%;
    cursor: pointer;
    margin-top: 1em;
}
.header-btn.active{
    background-color: transparent!important;

    color: var(--violet);
    font-weight: 500;
}
.header-img >img{
    width: 100%;
    object-fit: contain;
}

/* ========================header section ==================== */
/* ========================course section ==================== */

#course


/* ========================course section ==================== */